<link rel="import" href="../card-base/card-base.html">

<polymer-element name="card-current-instance" extends="card-base" attributes="data" horizontal layout center>
	<template>
		<style>
			:host {
				padding:0 10px 0 0;
			}

			.thumbnail {
				width:55px;
				height:55px;
				padding:5px;
				text-align: center;
				border-right:1px solid #ddd;
				margin-right: 10px;
				background-color: #fff;
			}

			.thumbnail img {
				max-height: 50px;
				max-width: 50px;
			}
		</style>

		<div class="thumbnail">
			<img src="{{data.layers[0].file}}">
		</div>

		<span flex></span>
		<paper-icon-button hidden?="{{data.shelf.required == 1}}" icon="cancel" on-tap="{{remove}}"></paper-icon-button>

	</template>

	<script>
		Polymer({

			eventDelegates:{
				'tap':'select'
			},

			attached:function(){
				//console.log(this.data)
			},

			select:function(){
				//this.fire('shelf-selected', this.data.shelf);
			},

			remove:function(){
				this.fire('item-selected', {
					id:0,
					title:'None',
					default:false,
					shelf_id: this.data.shelf_id
				})
			}
		});
	</script>
</polymer-element>