body {
	font-family: sans-serif;
}

body /deep/ paper-dialog .image-frame {
	margin-left: 25px;
}

body /deep/ .subtext {
	color:#777;
	font-size: 85%;
}

body /deep/ #creationDialog label {
	display: block;
}

body /deep/ .clearfix {
	clear:both
}

body /deep/ paper-button[highlighted],
body /deep/ paper-icon-button[highlighted] {
	background-color: #006dcc;
	color:#fff;
}

body /deep/ paper-button[disabled] {
	background: #eaeaea;
	color: #a8a8a8;
	cursor: auto;
	pointer-events: none;
}

body /deep/ paper-icon-button {
	color:#888;
}