<link rel="import" href="../unit-slide-base/unit-slide-base.html">
<link rel="import" href="../card-item/card-item.html">
<link rel="import" href="../image-cropper/image-cropper.html">

<polymer-element name="unit-items" extends="unit-slide-base" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			:host {

			}

			core-toolbar {
				background-color: #f3b300;
			}

			#bookmark {
				background-color: #f3b300;
			}

			paper-fab {
				background-color: #f3b300;
			}
		</style>

		<core-toolbar class="core-narrow" hidden?="{{collapsed}}">
			<text-string>items.header</text-string>
		</core-toolbar>


		<div id="scrollable" hidden?="{{collapsed}}" flex>
			<div id="scroll">
				<card-item hidden?="{{currentShelf.required != '0'}}" data="{{ noneItem }}"></card-item>
				<template repeat="{{model in nodes}}">
					<card-item data="{{model}}"></card-item>
				</template>
			</div>

			<paper-fab icon="add" on-tap="{{openCreationDialog}}"></paper-fab>
		</div>


		<paper-dialog transition="core-transition-top" id="creationDialog"  heading="{{ text('items.creation.header') }}">

			<div horizontal layout>
				<div flex>
					<paper-input-decorator floatingLabel label="{{ text('items.creation.title') }}">
						<input type="text" tabindex="1" id="inputTitle" on-keyup="{{createName}}">
					</paper-input-decorator>

					<label>
						<text-string>items.creation.name</text-string>
						<input type="text" tabindex="1" id="inputName">
					</label>

					<paper-input-decorator floatingLabel label="{{ text('items.creation.defaultZ') }}">
						<input type="text" tabindex="1"  id="inputZ" value="{{parentZ}}">
					</paper-input-decorator>

					<paper-input-decorator floatingLabel label="{{ text('items.creation.defaultInstanceTitle') }}">
						<input type="text" tabindex="1"  id="inputInstanceTitle">
					</paper-input-decorator>

					<label>
						<text-string>items.creation.file</text-string>
						<input name="file" type="file" id="inputFile" on-change="{{tempUpload}}">
					</label>

					<label style="margin-top:10px">
						<input type="checkbox" id="inputDefault">
						<text-string>items.creation.default</text-string>
						<div class="subtext" style="padding:5px; width:300px"><text-string>items.creation.defaultDescription</text-string></div>
					</label>
				</div>

				<div hidden?="{{!file}}" class="image-frame">
					<image-cropper image="{{file}}" cropData="{{imgCropData}}" on-image-loaded="{{imageLoaded}}"></image-cropper>
				</div>
			</div>


			<br>

			<paper-button self-center raised class="highlight" on-tap="{{ createItem }}">
				<text-string>items.creation.create</text-string>
			</paper-button>

		</paper-dialog>

	</template>

	<script>
		Polymer({

			subunitName:'items',

			eventDelegates:{
				'item-selected':'onItemSelected',
				'image-loaded':'imageLoaded'
			},

			//sortField:'z_index',

			created:function(){
				this.super();

				app.funcs.bind(this, [
					'parseTempFile'
				])
			},

			observe:{
				currentShelf:'subscribe'
			},

			file:false,
			parentZ:0,
			requiredShelf:false,

			selectShelf:function(data){
				this.currentShelf = data;
			},

			subscribe:function(){
				this.super();

				this.parentZ = app.currentState.shelf.z_index;

				app.connection.subscribe(this, 'items', {
					feed:'items',
					shelf: this.currentShelf.id
				}, this.parseUpdates)
			},

			parseUpdates:function(newItems, actionsPerformed, dataReturned){

				var itemCreated = typeof _(actionsPerformed).find({action:'add_item'}) != 'undefined';

				if (itemCreated) {
					var i = _(newItems).findIndex(function(item){
						return item.id == dataReturned.item_id
					})

					newItems[i].editMode = true;
					newItems[i].selected = true;
				}

				this.super(arguments);
			},

			onItemSelected:function(event, data){

				_.each(this.nodes, function(el, i){

					if (el.id != data.id){
						el.selected = false;
					} else {
						el.selected = true;
					}
				}, this);

				this.selectedItem = data;
			},

			openCreationDialog:function(){
				this.$.creationDialog.open();
			},

			createName:function(){
				this.$.inputName.value = app.funcs.createSystemName(this.$.inputTitle.value)
			},

			tempUpload:function(event, details){
				var formData = new FormData();

				var file = event.target.files[0];

				formData.append('file', file);

				$.ajax({
					url: 'server/_upload/index.php',
					type: 'POST',
					data: formData,
					cache: false,
					processData: false,
					contentType: false,
					success:this.parseTempFile
				})
			},

			createItem:function(){
				if (this.$.inputTitle.value.match(/^\s*$/)) return false;
				if (this.$.inputName.value.match(/^\s*$/)) return false;
				if (this.$.inputZ.value.match(/^\s*$/)) return false;
				if (!this.file) return false;

				app.connection.write({
					action:'add_item',
					shelf:this.currentShelf.id,
					item_title: this.$.inputTitle.value,
					item_name: this.$.inputName.value,
					z_index: this.$.inputZ.value,
					image: this.file,
					//bypass_write:1,
					item_crop_data: this.imgCropData,
					default: this.$.inputDefault.checked ? 1 : 0,
					instance_title: this.$.inputInstanceTitle.value
				});

				this.$.creationDialog.close();
			},

			parseTempFile:function(response){
				var response = JSON.parse(response);
				this.file = response.data.files[0];
			},

			imageLoaded:function(){
				console.log('unit-items catched imgload')

				this.$.creationDialog.updateTargetDimensions();
			}
		});
	</script>
</polymer-element>