<link rel="import" href="../unit-slide-base/unit-slide-base.html">
<link rel="import" href="../card-item/card-item.html">

<polymer-element name="unit-items" extends="unit-slide-base" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			:host {

			}

			core-toolbar {
				background-color: #f3b300;
			}

			#bookmark {
				background-color: #f3b300;
			}

			paper-fab {
				background-color: #f3b300;
			}
		</style>

		<core-toolbar class="core-narrow" hidden?="{{collapsed}}">
			<text-string>items.header</text-string>
		</core-toolbar>


		<div id="scrollable" hidden?="{{collapsed}}" flex>
			<div id="scroll">
				<template repeat="{{model in nodes}}">
					<card-model data="{{model}}"></card-model>
				</template>
			</div>

			<paper-fab icon="add" on-tap="{{openCreationDialog}}"></paper-fab>
		</div>

	</template>

	<script>
		Polymer({

			subunitName:'items',

			eventDelegates:{
				'item-selected':'onSelect'
			},

			ready:function(){
				this.nodes = [];
			},

			observe:{
				currentShelfID:'subscribe'
			},

			selectShelf:function(id){
				this.currentShelfID = id;
			},

			subscribe:function(shelfID){

				app.connection.subscribe(this, 'items', {
					feed:'items',
					agency: this.currentShelfID
				}, function(items){
					this.nodes = items;
				})
			},

			onSelect:function(event, data){
				console.info('selecting item')
				// todo - load item to a model
			}
		});
	</script>
</polymer-element>