<link rel="import" href="../unit-slide-base/unit-slide-base.html">
<link rel="import" href="../card-item/card-item.html">

<polymer-element name="unit-items" extends="unit-slide-base" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			:host {

			}

			core-toolbar {
				background-color: #0D904F;
			}

			#bookmark {
				background-color: #0D904F;
			}
		</style>

		<div id="bookmark" flex hidden?="{{!collapsed}}" on-tap="{{restore}}">
			<div class="vertical">{{currentModel.title}}</div>
		</div>

		<core-toolbar class="core-narrow" hidden?="{{collapsed}}">
			<text-string>items.header</text-string>
		</core-toolbar>


		<div id="scrollable" hidden?="{{collapsed}}" flex>
			<div id="scroll">
				<template repeat="{{model in nodes}}">
					<card-model data="{{model}}"></card-model>
				</template>
			</div>
		</div>

	</template>

	<script>
		Polymer({

			subunitName:'items',

			eventDelegates:{
				'model-selected':'onSelect'
			},

			ready:function(){
				this.nodes = [];
				//this.subscribe();
			},

			subscribe:function(shelf){
				this.currentShelf = shelf;

				app.connection.subscribe(this, 'items', {
					feed:'items',
					agency: shelf.id
				}, function(items){
					this.nodes = items;
				})
			},

			onSelect:function(event, data){
				// todo - load item to a model
			}
		});
	</script>
</polymer-element>