<polymer-element name="card-base" attributes="data" on-tap="{{ select }}">
	<template>
		<style>
			:host {
				display: block;
				padding:10px;
				cursor: pointer;
				background-color: #fff;
				border-top:1px solid #eee;
				position: relative;
			}

			:host(:first-child){
				border-top:none;
			}

			:host([selected]) {
				background-color: lemonchiffon;
			}
		</style>

	</template>

	<script>
		Polymer({

			publish:{
				selected:{
					default:false,
					reflect:true
				}
			},

			computed:{
				selected:'data.selected'
			},

			attached:function(){
				if (this.data.selected){
					this.select()
				}
			},

			select:function(){}
		});
	</script>
</polymer-element>