<polymer-element name="image-layer" attributes="data">
	<template>
		<style>
			:host {
				position: absolute;
				transform-origin: 0 0;
			}
		</style>

		<!--<img src="{{ data.file }}?ts={{timestamp}}">-->
		<img id="image" src="{{ data.file }}">

	</template>

	<script>
		Polymer({
			ready:function(){
				var date = new Date();
				this.timestamp = date.getTime();
				this.place();

				var that = this;

				$(this.$.image).load(function(){
					that.fire('doll-layer-loaded')
				})
			},

			place:function(){
				$(this).css({
					'z-index': this.data.z_index,
					'top': this.data.y_offset * 1,
					'left': this.data.x_offset * 1
				})
			},

			observe:{
				'data.x_offset':'place',
				'data.y_offset':'place',
				'data.z_index':'place'
			}
		});
	</script>
</polymer-element>