<link rel="import" href="../unit-slide-base/unit-slide-base.html">
<link rel="import" href="../card-agency/card-agency.html">

<polymer-element name="unit-agencies" extends="unit-slide-base" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			:host {

			}

			core-toolbar {
				background-color: #00bcd4;
			}

			#bookmark {
				background-color: #00bcd4;
			}

			paper-fab {
				background-color: #00bcd4;
			}
		</style>

		<div id="bookmark" flex hidden?="{{!collapsed}}" on-tap="{{restore}}">
			<div class="vertical">{{currentAgency.title}}</div>
		</div>

		<core-toolbar class="core-narrow" hidden?="{{collapsed}}">
			<text-string>agencies.header</text-string>
		</core-toolbar>


		<div id="scrollable" hidden?="{{collapsed}}" flex>
			<div id="scroll">
				<template repeat="{{agency in nodes}}">
					<card-agency data="{{agency}}"></card-agency>
				</template>
			</div>

			<paper-fab icon="add" on-tap="{{openCreationDialog}}"></paper-fab>

			<paper-dialog transition="core-transition-top" id="creationDialog"  heading="{{ text('agencies.creation.header') }}">

				<paper-input-decorator floatingLabel label="{{ text('agencies.creation.title') }}">
					<input type="text" tabindex="1">
				</paper-input-decorator>

				<label>
					<text-string>agencies.creation.name</text-string>
					<input type="text" tabindex="1">
				</label>

			</paper-dialog>
		</div>

	</template>

	<script>
		Polymer({
			text:text,

			subunitName:'agencies',

			eventDelegates:{
				'agency-selected':'onSelect'
			},

			ready:function(){
				this.nodes = [];
				this.subscribe();
			},

			subscribe:function(){
				app.connection.subscribe(this, 'agencies', {
					feed:'agencies'
				}, function(agencies){
					this.nodes = agencies;
				})
			},

			onSelect:function(event, data){
				this.collapse();
				this.currentAgency = data;
			},

			openCreationDialog:function(){
				this.$.creationDialog.open();
			}

		});
	</script>
</polymer-element>