<link rel="import" href="../card-agency/card-agency.html">

<polymer-element name="unit-agencies" vertical layout flex>
	<template>
		<style>
			:host {

			}

			#scrollable {
				overflow-y: scroll;
			}

			#scroll {
				padding: 15px 5px 1px 15px;
				position: relative;
			}
		</style>

		<core-toolbar class="core-narrow">
			<text-string>agencies.header</text-string>
		</core-toolbar>


		<div id="scrollable" flex>
			<div id="scroll">
				<template repeat="{{agency in nodes}}">
					<card-agency data="{{agency}}"></card-agency>
				</template>
			</div>
		</div>

	</template>

	<script>
		Polymer({

			ready:function(){
				this.nodes = [];
				this.subscribe();
			},

			subscribe:function(){
				app.connection.subscribe(this, 'agencies', {
					feed:'agencies'
				}, function(agencies){
					console.log('returned', agencies);

					this.nodes = agencies;
				})
			}

		});
	</script>
</polymer-element>