<link rel="import" href="../unit-slide-base/unit-slide-base.html">
<link rel="import" href="../card-agency/card-agency.html">

<polymer-element name="unit-agencies" attributes="agency" extends="unit-slide-base" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			core-toolbar {
				background-color: #00bcd4;
			}

			#bookmark {
				background-color: #00bcd4;
			}

			paper-fab {
				background-color: #00bcd4;
			}
		</style>

		<div id="bookmark" flex hidden?="{{!collapsed}}" on-tap="{{open}}">
			<div id="vertical">{{agency.title}}</div>
		</div>

		<core-toolbar class="core-narrow" hidden?="{{collapsed}}">
			<text-string>agencies.header</text-string>
		</core-toolbar>


		<div id="scrollable" hidden?="{{collapsed}}" flex>
			<div id="scroll">
				<template repeat="{{node in nodes}}">
					<card-agency data="{{node}}" active?="{{node.id == agency.id}}"></card-agency>
				</template>
			</div>

			<paper-spinner active?="{{loading}}"></paper-spinner>

			<paper-fab icon="add" on-tap="{{openCreationDialog}}"></paper-fab>
		</div>

		<paper-dialog transition="core-transition-top" id="creationDialog"  heading="{{ text('agencies.creation.header') }}">

			<paper-input-decorator floatingLabel label="{{ text('agencies.creation.title') }}">
				<input type="text" tabindex="1" id="inputTitle" on-keyup="{{createName}}">
			</paper-input-decorator>

			<label>
				<text-string>agencies.creation.name</text-string>
				<input type="text" tabindex="1" id="inputName">
			</label>

			<br>
			<paper-button self-center raised class="highlight" on-tap="{{ createAgency }}">
				<text-string>agencies.creation.create</text-string>
			</paper-button>

		</paper-dialog>

	</template>

	<script>
		Polymer({
			text:text,

			subunitName:'agencies',

			eventDelegates:{
				'agency-selected':'onSelect'
			},

			ready:function(){
				this.super()
				this.subscribe();
			},

			subscribe:function(){
				this.super();

				app.connection.subscribe(this, 'agencies', {
					feed:'agencies'
				}, this.parseUpdates)
			},

			onSelect:function(event, data){
				this.super();
				this.agency = data;
			},

			openCreationDialog:function() {
				this.$.creationDialog.open();
			},

			createName:function(){
				this.$.inputName.value = app.funcs.createSystemName(this.$.inputTitle.value)
			},

			createAgency:function(){
				if (this.$.inputTitle.value.match(/^\s*$/)) return false;
				if (this.$.inputName.value.match(/^\s*$/)) return false;

				app.connection.write({
					action: 'add_agency',
					name:this.$.inputName.value,
					title:this.$.inputTitle.value
				})

				this.closeDialog(true);
			},

			closeDialog:function(clean){
				this.$.creationDialog.close();

				if (typeof clean != 'undefined' && !!clean) {
					this.$.inputName.value = '';
					this.$.inputTitle.value = '';
				}
			}

		});
	</script>
</polymer-element>