<link rel="import" href="../unit-slide-base/unit-slide-base.html">

<polymer-element name="unit-shelves" extends="unit-slide-base" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			:host {

			}

			core-toolbar {
				background-color: #6b499f;
			}

			#bookmark {
				background-color: #6b499f;
			}
		</style>

		<div id="bookmark" flex hidden?="{{!collapsed}}" on-tap="{{restore}}">
			<div class="vertical">{{currentModel.title}}</div>
		</div>

		<core-toolbar class="core-narrow" hidden?="{{collapsed}}">
			<text-string>shelves.header</text-string>
		</core-toolbar>


		<div id="scrollable" hidden?="{{collapsed}}" flex>
			<div id="scroll">
				<template repeat="{{model in nodes}}">
					<card-agency data="{{model}}"></card-agency>
				</template>
			</div>
		</div>

	</template>

	<script>
		Polymer({

			subunitName:'shelves',

			eventDelegates:{
				'model-selected':'onSelect'
			},

			ready:function(){
				this.nodes = [];
				//this.subscribe();
			},

			subscribe:function(){
				app.connection.subscribe(this, 'shelves', {
					feed:'shelves'
				}, function(shelves){
					this.nodes = shelves;
				})
			},

			onSelect:function(event, data){
				this.collapse();
				this.currentModel = data;
			}
		});
	</script>
</polymer-element>