<link rel="import" href="../unit-slide-base/unit-slide-base.html">
<link rel="import" href="../card-shelf/card-shelf.html">

<polymer-element name="unit-shelves" attributes="shelf" extends="unit-slide-base" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			core-toolbar {
				background-color: #6b499f;
			}

			#bookmark {
				background-color: #6b499f;
			}

			paper-fab {
				background-color: #6b499f;
			}
		</style>

		<div id="bookmark" flex hidden?="{{!collapsed}}" on-tap="{{open}}">
			<div id="vertical">{{shelf.title}}</div>
		</div>

		<core-toolbar class="core-narrow" hidden?="{{collapsed}}">
			<paper-icon-button icon="arrow-back" on-tap="{{back}}"></paper-icon-button>

			<text-string flex>shelves.header</text-string>

			<paper-button on-tap="{{undress}}">
				<core-icon icon="accessibility"></core-icon>
				<text-string>shelves.undress</text-string>
			</paper-button>
		</core-toolbar>


		<div id="scrollable" hidden?="{{collapsed}}" flex>
			<div id="scroll">
				<template repeat="{{node in nodes}}">
					<card-shelf data="{{node}}" active?="{{node.id == shelf.id}}"></card-shelf>
				</template>
			</div>

			<paper-spinner active?="{{loading}}"></paper-spinner>

			<paper-fab icon="add" on-tap="{{openCreationDialog}}"></paper-fab>
		</div>



		<paper-dialog transition="core-transition-top" id="creationDialog"  heading="{{ text('shelves.creation.header') }}">

			<paper-input-decorator floatingLabel label="{{ text('shelves.creation.title') }}">
				<input type="text" tabindex="1" id="inputTitle" on-keyup="{{createName}}">
			</paper-input-decorator>

			<label>
				<text-string>shelves.creation.name</text-string>
				<input type="text" tabindex="1" id="inputName">
			</label>

			<paper-input-decorator floatingLabel label="{{ text('shelves.creation.defaultZ') }}">
				<input type="text" tabindex="1" value="0"  id="inputZ">
			</paper-input-decorator>

			<label>
				<input type="checkbox" id="inputRequired">
				<text-string>shelves.creation.required</text-string>
				<div class="subtext" style="padding:5px; width:300px"><text-string>shelves.creation.requiredDescription</text-string></div>
			</label>

			<paper-button self-center raised class="highlight" on-tap="{{ createShelf }}">
				<text-string>shelves.creation.create</text-string>
			</paper-button>

		</paper-dialog>

	</template>

	<script>
		Polymer({

			subunitName:'shelves',

			sortField:'z_index',
			sortOrder:'asc',

			eventDelegates:{
				'shelf-selected':'onSelect'
			},

			observe:{
				currentModel:'subscribe'
			},

			// suspect on unneeded
			selectModel:function(data){
				this.currentModel = data;
			},

			subscribe:function(){
				this.super();

				app.connection.subscribe(this, 'shelves', {
					feed:'shelves',
					model: this.currentModel.id
				}, this.parseUpdates)
			},

			onSelect:function(event, data){
				this.super();
				this.shelf = data;
			},

			openCreationDialog:function(){
				this.$.creationDialog.open();
			},

			createShelf:function(){

				if (this.$.inputTitle.value.match(/^\s*$/)) return false;
				if (this.$.inputName.value.match(/^\s*$/)) return false;
				if (this.$.inputZ.value.match(/^\s*$/)) return false;

				app.connection.write({
					action:'add_shelf',
					model: this.currentModel.id,
					title: this.$.inputTitle.value,
					name: this.$.inputName.value,
					z_index: this.$.inputZ.value,
					required: this.$.inputRequired.checked ? 1 : 0
				})

				this.$.creationDialog.close();
			},

			createName:function(){
				this.$.inputName.value = app.funcs.createSystemName(this.$.inputTitle.value)
			}
		});
	</script>
</polymer-element>