<link rel="import" href="../unit-agencies/unit-agencies.html">
<link rel="import" href="../unit-models/unit-models.html">
<link rel="import" href="../unit-shelves/unit-shelves.html">
<link rel="import" href="../unit-items/unit-items.html">

<polymer-element name="unit-browse" horizontal layout flex>
	<template>
		<style>
			:host {
				background-color: #fff;
			}
		</style>

		<unit-agencies id="agencies"></unit-agencies>
		<unit-models id="models"></unit-models>
		<unit-shelves id="shelves"></unit-shelves>
		<unit-items id="items"></unit-items>

	</template>

	<script>
		Polymer({

			subunits:['agencies', 'models', 'shelves', 'items'],

			eventDelegates:{
				'open-subunit':'openSubunit',
				'close-subunit':'closeSubunit',

				'agency-selected':'onAgencySelected',
				'model-selected':'onModelSelected',
				'shelf-selected':'onShelfSelected',
				'item-selected':'onItemSelected'
			},

			created:function(){
				this.currentState = {};
			},

			ready:function(){
				this.openSubunit(null, {subunitName:'agencies'})
			},

			openSubunit:function(event, data){
				//console.log('open', data.subunitName);

				// which sub is being opened
				var subunitIndex = this.subunits.indexOf(data.subunitName);

				// collapse previous
				for (var i = subunitIndex-1; i >= 0; i--){
					this.$[this.subunits[i]].silentCollapse();
				}

				// close next
				for (var i = subunitIndex+1; i < this.subunits.length; i++) {
					this.$[this.subunits[i]].close();
				}
			},

			closeSubunit:function(event, data){
				//console.log('close', data.subunitName);

				// which sub is being closed
				var subunitIndex = this.subunits.indexOf(data.subunitName);

				// open next one
				if (this.subunits[subunitIndex+1]){
					var nextUnit = this.$[this.subunits[subunitIndex+1]];
					nextUnit.silentOpen();
				}
			},

			onAgencySelected:function(event, data){
				this.currentState.agency = data;
				this.$.models.selectAgency(data.id)
			},

			onModelSelected:function(event, data){
				this.currentState.model = data;
				this.$.shelves.selectModel(data.id)
			},

			onShelfSelected:function(event, data){
				this.currentState.shelv = data;
				this.$.items.selectShelf(data.id)
			},

			onItemSelected:function(event, data){
				this.currentState.index = data;
			}
		});
	</script>
</polymer-element>