<link rel="import" href="../unit-agencies/unit-agencies.html">
<link rel="import" href="../unit-models/unit-models.html">
<link rel="import" href="../unit-shelves/unit-shelves.html">
<link rel="import" href="../unit-items/unit-items.html">

<polymer-element name="unit-browse" attributes="current" horizontal layout flex>
	<template>
		<style>
			:host {
				background-color: #fff;
			}
		</style>

		<unit-agencies id="agencies" agency="{{current.agency}}"></unit-agencies>
		<unit-models id="models" model="{{current.model}}"></unit-models>
		<unit-shelves id="shelves" shelf="{{current.shelf}}"></unit-shelves>
		<unit-items id="items" item="{{current.item}}"></unit-items>

	</template>

	<script>
		Polymer({

			eventDelegates:{
				'open-subunit':'openSubunit',
				'close-subunit':'closeSubunit',
				'subunit-back':'subunitBack',

				//'agency-selected':'onAgencySelected',
				//'model-selected':'onModelSelected',
				//'shelf-selected':'onShelfSelected',
				//'item-selected':'onItemSelected',
				'model-undress':'undress'
			},

			observe:{
				'current.agency':'agencyChange',
				'current.model':'modelChange',
				'current.shelf':'shelfChange'
			},

			created:function(){
				//this.currentState = {};
			},

			ready:function(){
				this.openSubunit(null, {subunitName:'agencies'})
			},


			subunits:['agencies', 'models', 'shelves', 'items'],

			openSubunit:function(event, data){
				//console.log('open', data.subunitName);

				// which sub is being opened
				var subunitIndex = this.subunits.indexOf(data.subunitName);

				// collapse previous
				for (var i = subunitIndex-1; i >= 0; i--){
					this.$[this.subunits[i]].silentCollapse();
				}

				// close next
				for (var i = subunitIndex+1; i < this.subunits.length; i++) {
					this.$[this.subunits[i]].close();
				}
			},

			closeSubunit:function(event, data){
				//console.log('close', data.subunitName);

				// which sub is being closed
				var subunitIndex = this.subunits.indexOf(data.subunitName);

				// open next one
				if (this.subunits[subunitIndex+1]){
					var nextUnit = this.$[this.subunits[subunitIndex+1]];
					nextUnit.silentOpen();
				}
			},

			subunitBack:function(event, data){
				//console.log(data)

				// which sub is being closed
				var subunitIndex = this.subunits.indexOf(data.subunitName);

				this.$[this.subunits[subunitIndex]].close();

				if (this.subunits[subunitIndex-1]){
					var prevUnit = this.$[this.subunits[subunitIndex-1]];
					prevUnit.silentOpen();
				}
			},

			agencyChange:function(old, data){
				this.$.models.selectAgency(data);
			},

			modelChange:function(event, data){
				this.$.shelves.selectModel(data)
			},

			shelfChange:function(event, data){
				this.$.items.selectShelf(data);
			},

			/*onAgencySelected:function(event, data){
				// todo - for removal
				//this.currentState.agency = data;
				this.$.models.selectAgency(data);
			},*/

			/*onModelSelected:function(event, data){
				// todo - for removal
				//this.currentState.model = data;
				this.$.shelves.selectModel(data)
			},*/

			/*onShelfSelected:function(event, data){
				// todo - for removal
				//this.currentState.shelf = data;
				this.$.items.selectShelf(data);
			},*/

			/*onItemSelected:function(event, data){
				// todo - for removal
				//this.currentState.index = data;
			},*/

			undress:function(){

				_.each(this.$.shelves.nodes, function(shelf){

					if (!+shelf.required){

						this.fire('item-selected', {
							id:0,
							title:'None',
							default:false,
							shelf_id:shelf.id
						})
					}
				}, this)
			}
		});
	</script>
</polymer-element>