:host {
	position: relative;
}

/*:host([loading]) #scrollable {
	background-image: url(../../assets/design/throbber_big.gif);
	background-repeat: no-repeat;
	background-position: center center;
}*/

paper-spinner {
	position: absolute;
	top: 52%;
	left: 47%;
}

#bookmark {
	width: 30px;
	cursor: pointer;
	position: relative;
	text-align: center;
	overflow: hidden;
}

#scrollable {
	overflow-y: scroll;
	background-color: #fff;
}

#vertical {
	transform: rotate(270deg);
	position: absolute;
	top: 50%;
	left: -50%;
	color: #fff;
	font-weight: bold;
	white-space: nowrap;
}

#scroll {
	padding: 15px 5px 1px 15px;
	position: relative;
}

core-toolbar {
	color: #fff;
}

paper-fab {
	position: absolute;
	bottom: 15px;
	right: 35px;
}