<link rel="import" href="../unit-slide-base/unit-slide-base.html">
<link rel="import" href="../card-model/card-model.html">

<polymer-element name="unit-models" extends="unit-slide-base" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			:host {

			}

			core-toolbar {
				background-color: #0D904F;
			}

			#bookmark {
				background-color: #0D904F;
			}

			paper-fab {
				background-color: #0D904F;
			}
		</style>

		<div id="bookmark" flex hidden?="{{!collapsed}}" on-tap="{{restore}}">
			<div class="vertical">{{currentModel.title}}</div>
		</div>

		<core-toolbar class="core-narrow" hidden?="{{collapsed}}">
			<text-string>models.header</text-string>
		</core-toolbar>


		<div id="scrollable" hidden?="{{collapsed}}" flex>
			<div id="scroll">
				<template repeat="{{model in nodes}}">
					<card-model data="{{model}}"></card-model>
				</template>
			</div>

			<paper-fab icon="add"></paper-fab>
		</div>

	</template>

	<script>
		Polymer({

			subunitName:'models',

			eventDelegates:{
				'model-selected':'onSelect'
			},

			ready:function(){
				this.nodes = [];
				//this.subscribe();
			},

			subscribe:function(agency){
				this.currentAgency = agency;

				app.connection.subscribe(this, 'models', {
					feed:'models',
					agency: agency.id
				}, function(models){
					this.nodes = models;
				})
			},

			onSelect:function(event, data){
				this.collapse();
				this.currentModel = data;
			}
		});
	</script>
</polymer-element>