<link rel="import" href="../unit-slide-base/unit-slide-base.html">
<link rel="import" href="../card-model/card-model.html">

<polymer-element name="unit-models" extends="unit-slide-base" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			core-toolbar {
				background-color: #0D904F;
			}

			#bookmark {
				background-color: #0D904F;
			}

			paper-fab {
				background-color: #0D904F;
			}
		</style>

		<div id="bookmark" flex hidden?="{{!collapsed}}" on-tap="{{open}}">
			<div id="vertical">{{currentModel.title}}</div>
		</div>

		<core-toolbar class="core-narrow" hidden?="{{collapsed}}">
			<text-string>models.header</text-string>
		</core-toolbar>


		<div id="scrollable" hidden?="{{collapsed}}" flex>
			<div id="scroll">
				<template repeat="{{model in nodes}}">
					<card-model data="{{model}}"></card-model>
				</template>
			</div>

			<paper-fab icon="add" on-tap="{{openCreationDialog}}"></paper-fab>
		</div>

		<paper-dialog transition="core-transition-top" id="creationDialog"  heading="{{ text('models.creation.header') }}">

			<paper-input-decorator floatingLabel label="{{ text('models.creation.title') }}">
				<input type="text" tabindex="1" id="inputTitle" on-keyup="{{createName}}">
			</paper-input-decorator>

			<label>
				<text-string>models.creation.name</text-string>
				<input type="text" tabindex="1" id="inputName">
			</label>

			<paper-input-decorator floatingLabel label="{{ text('models.creation.original') }}">
				<input type="text" tabindex="1" id="inputSize" value="1000">
			</paper-input-decorator>

			<br>
			<paper-button self-center raised class="highlight" on-tap="{{ createModel }}">
				<text-string>models.creation.create</text-string>
			</paper-button>

		</paper-dialog>

	</template>

	<script>
		Polymer({
			text:text,

			subunitName:'models',

			eventDelegates:{
				'model-selected':'onSelect'
			},

			observe:{
				'currentAgency':'subscribe'
			},

			selectAgency:function(data){
				this.currentAgency = data;
			},

			subscribe:function(){
				this.super();

				app.connection.subscribe(this, 'models', {
					feed:'models',
					agency: this.currentAgency.id
				}, this.parseUpdates)
			},

			onSelect:function(event, data){
				this.super();
				this.currentModel = data;
			},

			openCreationDialog:function(){
				this.$.creationDialog.open();
			},

			createName:function(){
				this.$.inputName.value = app.funcs.createSystemName(this.$.inputTitle.value)
			},

			createModel:function(){
				if (this.$.inputTitle.value.match(/^\s*$/)) return false;
				if (this.$.inputName.value.match(/^\s*$/)) return false;
				if (this.$.inputSize.value.match(/^\s*$/)) return false;

				app.connection.write({
					action: 'add_model',
					name:this.$.inputName.value,
					title:this.$.inputTitle.value,
					agency:this.currentAgency.id,
					size:this.$.inputSize.value
				})

				this.closeDialog(true);
			},

			closeDialog:function(clean){
				this.$.creationDialog.close();

				if (typeof clean != 'undefined' && !!clean) {
					this.$.inputName.value = '';
					this.$.inputTitle.value = '';
				}
			}
		});
	</script>
</polymer-element>