<link rel="import" href="../unit-slide-base/unit-slide-base.html">
<link rel="import" href="../card-model/card-model.html">

<polymer-element name="unit-models" extends="unit-slide-base" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			:host {

			}

			core-toolbar {
				background-color: #0D904F;
			}

			#bookmark {
				background-color: #0D904F;
			}

			paper-fab {
				background-color: #0D904F;
			}
		</style>

		<div id="bookmark" flex hidden?="{{!collapsed}}" on-tap="{{restore}}">
			<div class="vertical">{{currentModel.title}}</div>
		</div>

		<core-toolbar class="core-narrow" hidden?="{{collapsed}}">
			<text-string>models.header</text-string>
		</core-toolbar>


		<div id="scrollable" hidden?="{{collapsed}}" flex>
			<div id="scroll">
				<template repeat="{{model in nodes}}">
					<card-model data="{{model}}"></card-model>
				</template>
			</div>

			<paper-fab icon="add" on-tap="{{openCreationDialog}}"></paper-fab>
		</div>

		<paper-dialog transition="core-transition-top" id="creationDialog"  heading="{{ text('models.creation.header') }}">

			<paper-input-decorator floatingLabel label="{{ text('models.creation.title') }}">
				<input type="text" tabindex="1">
			</paper-input-decorator>

			<label>
				<text-string>models.creation.name</text-string>
				<input type="text" tabindex="1">
			</label>

		</paper-dialog>

	</template>

	<script>
		Polymer({
			text:text,

			subunitName:'models',

			eventDelegates:{
				'model-selected':'onSelect'
			},

			ready:function(){
				this.nodes = [];
			},

			subscribe:function(agencyID){
				this.currentAgencyID = agencyID;

				app.connection.subscribe(this, 'models', {
					feed:'models',
					agency: agencyID
				}, function(models){
					this.nodes = models;
				})
			},

			onSelect:function(event, data){
				this.collapse();
				this.currentModel = data;
			},

			openCreationDialog:function(){
				this.$.creationDialog.open();
			}
		});
	</script>
</polymer-element>