<link rel="import" href="../card-base/card-base.html">

<polymer-element name="card-item" extends="card-base" horizontal layout center>
	<template>

		<style>
			.thumbnail {
				width:50px;
				height:50px;
				text-align: center;
				border:1px solid #ddd;
				margin-right: 10px;
				background-color: #fff;
			}

			.thumbnail img {
				max-height: 50px;
				max-width: 50px;
			}
		</style>

		<div class="thumbnail">
			<img _src="{{data.cover}}">
		</div>

		<b>{{data.title}}</b>
		<span hidden?="{{data.default == 0}}"> (Default)</span>

		<span flex></span>

		<template if="{{data.id != 0}}">
			<paper-icon-button icon="cancel" on-tap="{{deleteItem}}"></paper-icon-button>
		</template>

	</template>

	<script>
		Polymer({
			select:function(){
				this.fire('item-selected', this.data);
			},

			deleteItem:function(event){
				app.connection.write({
					action:'delete_item',
					id: this.data.id
				});

				event.stopPropagation();
			}
		});
	</script>
</polymer-element>