<polymer-element name="card-item" attributes="data" on-tap="{{select}}">
	<template>
		<style>
			:host {
				display: block;
				border:1px solid #ccc;
				margin:2px;
				padding:5px;
				cursor: pointer;
			}

			:host(:hover) {
				background-color: #eee;
			}

			:host([selected]) {
				background-color: lemonchiffon;
			}
		</style>

		<b>{{data.title}}</b>

	</template>

	<script>
		Polymer({
			publish:{
				selected:{
					default:false,
					reflect:true
				}
			},

			computed:{
				selected:'data.selected'
			},

			attached:function(){
				if (this.data.selected){
					this.select()
				}
			},

			select:function(){
				this.fire('item-selected', this.data);
			}
		});
	</script>
</polymer-element>