<link rel="import" href="../unit-slide-base/unit-slide-base.html">
<link rel="import" href="../card-saved/card-saved.html">

<polymer-element name="unit-saved" extends="unit-slide-base" attributes="data" vertical layout flex>
	<template>

		<link rel="stylesheet" href="../unit-slide-base/unit-slide.css">

		<style>
			:host {
				background-color: #fff;
			}
		</style>

		<core-toolbar class="core-narrow">
			<text-string>saved.header</text-string>
		</core-toolbar>

		<div id="scrollable" flex>
			<div id="scroll">
				<template repeat="{{item in nodes}}">
					<card-saved data="{{item}}"></card-saved>
				</template>
			</div>
		</div>

	</template>

	<script>
		Polymer({

			ready:function(){
				this.super();

				this.subscribe()
			},

			subscribe:function(){
				this.super();

				app.connection.subscribe(this, 'saved-items', {
					feed:'saved',
					user_id: 1 // todo - login
				}, this.parseUpdates)
			}
		});
	</script>
</polymer-element>