<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>

	<style>
		body {
			padding:0;
			margin:0;

		}

		img {
			max-height:300px;
			max-width:300px;
			display: block;
		}

		.container {
			white-space: nowrap;
			display: inline-block;
		}

		.column {
			display: inline-block;
			vertical-align: top;
		}

		.image {
			position: relative;
		}

		.preview {
			width:70px;
			height:80px;
			margin-left:10px;
			border:5px solid #eee;
			overflow: hidden;
		}
	</style>

	<!--[if lte IE 9]>			<script src="../../bower_components/jquery-compat/dist/jquery.min.js"></script>	<![endif]-->
	<![if (gt IE 9) | (!IE) ]>	<script src="../../bower_components/jquery/dist/jquery.min.js"></script> 		<![endif]>

	<link rel="stylesheet" href="../../bower_components/cropper/dist/cropper.min.css">
	<script src="../../bower_components/cropper/dist/cropper.min.js"></script>

	<script>
		var image = '', imgTag;

		$(window).on('message', function(a){
			image = '../../' + a.originalEvent.data;
			pasteImage();
		});

		function pasteImage(){

			$('.image').children().remove();

			imgTag = $('<img>').appendTo($('.image')).attr('src', image).load(function(){

				$().cropper('destroy');

				imgTag.cropper({
					aspectRatio: 1/1,
					guides:false,
					preview:'.preview',
					autoCropArea:0.5,
					global:false,
					minContainerWidth:50,
					minContainerHeight:50,
					crop:function(data){
						parent.postMessage({
							message:'image-cropped',
							cropData:data
						}, '*');
					}
				});

				parent.postMessage({
					message:'image-loaded',
					width:$('.container').width(),
					height:$('.container').height()
				}, '*');
			})
		}

		$(function(){
			pasteImage();
		})
	</script>
</head>
<body>

	<div class="container">
		<div class="column image"></div>
		<div class="column preview"></div>
	</div>

</body>
</html>