<polymer-element name="image-cropper" attributes="image, cropData">
	<template>
		<link rel="stylesheet" href="../../bower_components/jcrop/css/jquery.Jcrop.min.css">

		<style>
			:host {
				display:block
			}

			img {
				height:300px;
			}

			#frame {
				display: block;
			}
		</style>

		<iframe src="./iframe.html" id="frame" frameborder="0"></iframe>

	</template>

	<script>
		Polymer({
			ready:function(){
				$(window).on('message', this.parseFrameMessage.bind(this))
			},

			parseFrameMessage:function(e){
				var event =  e.originalEvent.data;

				switch (event.message) {
					case 'image-loaded':
						$(this.$.frame).width(event.width+2).height(event.height+2);
						this.fire('image-loaded');
						break;

					case 'image-cropped':
						this.cropData = event.cropData
						break;

					default:
				}
			},

			imageChanged:function(old, image){
				this.$.frame.contentWindow.postMessage(this.image, '*');
			}

		});
	</script>
</polymer-element>