<link rel="import" href="../image-layer/image-layer.html">

<polymer-element name="unit-doll" attributes="layers, canvasSize" flex on-resize="{{ resize }}">
	<template>
		<style>
			:host {

			}

			::content .layer {
				position: absolute;
				background-color: red;
				width:100px;
				height: 100px;

			}

			#frame {
				background-color: #fff;
				position: relative;
				overflow: hidden;
				transform-origin: 0 0;
			}
		</style>

		<div id="frame">
			<template repeat="{{ layer in layers }}">
				<image-layer data="{{ layer }}"></image-layer>
			</template>
		</div>

	</template>

	<script>
		Polymer({
			canvasSize: 1000, // todo: 1000 is changeable var, depends on actor
			ratio:1,

			created:function(){
				var that = this;

				$(window).resize(function(){
					that.resize()
				})
			},

			attached:function(){
				this.initModel();
			},

			observe:{
				items:'createLayers',
				canvasSize:'initModel'
			},

			initModel:function(data){
				$(this.$.frame).width(this.canvasSize);
				$(this.$.frame).height(this.canvasSize);

				this.resize();
			},

			resize:function(){
				var that = this;

				// todo - make resizing snapped by 10px
				var frameSize = Math.min(this.offsetHeight, this.canvasSize);
				this.ratio = frameSize / this.canvasSize;

				$(this.$.frame).css('transform', 'scale('+ this.ratio +')');
				$(this).css('width', frameSize);
			}
		});
	</script>
</polymer-element>