<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../unit-doll/unit-doll.html">
<link rel="import" href="../text-string/text-string.html">
<link rel="import" href="../tab-group/tab-group.html">
<link rel="import" href="../unit-browse/unit-browse.html">
<link rel="import" href="../unit-saved/unit-saved.html">

<polymer-element name="x-app" vertical layout flex>
	<template>
		<style>
			:host {
				background:#eee;
			}

			.panel {
				margin:5px;
				border:1px solid #ccc;
				background-color: #eee;
			}

			core-toolbar {
				height:50px;
				background-color: navy;
				color:#fff;
				padding: 0 10px;
			}

			paper-tabs {
				background-color: #fff;
			}

			paper-tabs::shadow #selectionBar {
				background-color: red;
			}

			paper-tab::shadow #ink {
				color: red;
			}
		</style>

		<!--<core-toolbar class="core-narrow">
			Wardrobe
		</core-toolbar>-->

		<div horizontal layout flex>
			<div class="panel" vertical layout flex>

				<paper-tabs selected="{{navModeId}}">
					<paper-tab x-unit="browse" on-tap="{{navSelectTab}}"><text-string class="tab">navigation.tabs.browser</text-string></paper-tab>
					<paper-tab x-unit="saved" on-tap="{{navSelectTab}}"><text-string class="tab">navigation.tabs.saved</text-string></paper-tab>
				</paper-tabs>

					<div hidden?="{{navMode != 'browse'}}" class="tabbed-content" vertical layout flex>
						<unit-browse></unit-browse>
					</div>
					<div hidden?="{{navMode != 'saved'}}" class="tabbed-content" vertical layout flex>
						<unit-saved></unit-saved>
					</div>

			</div>

			<div class="panel" vertical layout>
				<unit-doll id="doll"></unit-doll>
			</div>

			<div class="panel" vertical layout flex></div>
		</div>

	</template>

	<script>
		Polymer({

			navModeId:0,

			eventDelegates:{
				'item-selected':'onItemSelected'
			},

			created:function(){
				this.navModes = ['browse', 'saved'];
				this.navMode = this.navModes[this.navModeId];
			},

			onItemSelected:function(event, data, sender){
				console.log('x-app catched select:', data);

				app.connection.get('item', {id:data.id}, this.parseItem.bind(this))
			},

			parseItem:function(data){
				_.each(data.instances, function(instance, i){
					instance.layers = [];

					_.each(data.layers, function(layer, l){

						var processedLayer = layer;
						processedLayer.file = instance.file + '.' + (+layer.id).toString(16) + '.png';
						instance.layers.push(processedLayer)
					}, this)
				}, this);

				this.$.doll.pushItem(data.instances[0]);
			},

			navSelectTab:function(event, detail, sender){
				this.navMode = $(sender).attr('x-unit');
				this.navModeId = this.navModes.indexOf(this.navMode);
			}

		});
	</script>
</polymer-element>