<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../unit-doll/unit-doll.html">
<link rel="import" href="../text-string/text-string.html">
<link rel="import" href="../tab-group/tab-group.html">
<link rel="import" href="../unit-browse/unit-browse.html">
<link rel="import" href="../unit-saved/unit-saved.html">
<link rel="import" href="../unit-saved/unit-saved.html">
<link rel="import" href="../unit-properties/unit-properties.html">

<polymer-element name="x-app" vertical layout flex>
	<template>
		<style>
			:host {
				background:#eee;
			}

			.panel {
				margin:5px;
				border:1px solid #ccc;
				background-color: #eee;
			}

			core-toolbar {
				height:50px;
				background-color: navy;
				color:#fff;
				padding: 0 10px;
			}

			paper-tabs {
				background-color: #fff;
			}

			paper-tabs::shadow #selectionBar {
				background-color: red;
			}

			paper-tab::shadow #ink {
				color: red;
			}
		</style>

		<!--<core-toolbar class="core-narrow">
			Wardrobe
		</core-toolbar>-->

		<div horizontal layout flex>
			<div class="panel" vertical layout flex>

				<paper-tabs selected="{{navModeId}}">
					<paper-tab x-unit="browse" on-tap="{{navSelectTab}}"><text-string class="tab">navigation.tabs.browser</text-string></paper-tab>
					<paper-tab x-unit="saved" on-tap="{{navSelectTab}}"><text-string class="tab">navigation.tabs.saved</text-string></paper-tab>
				</paper-tabs>

					<div hidden?="{{navMode != 'browse'}}" class="tabbed-content" vertical layout flex>
						<unit-browse></unit-browse>
					</div>
					<div hidden?="{{navMode != 'saved'}}" class="tabbed-content" vertical layout flex>
						<unit-saved></unit-saved>
					</div>

			</div>

			<div class="panel" vertical layout>
				<unit-doll id="doll" layers="{{layers}}" canvasSize="{{dollCanvasSize}}"></unit-doll>
			</div>

			<div class="panel" vertical layout flex>
				<paper-tabs selected="{{propsModeId}}">
					<paper-tab x-unit="properties" on-tap="{{propsSelectTab}}"><text-string class="tab">navigation.tabs.properties</text-string></paper-tab>
				</paper-tabs>

				<div hidden?="{{propsMode != 'properties'}}" class="tabbed-content" vertical layout flex>
					<unit-properties data="{{currentObject}}" object="{{currentObjectType}}"></unit-properties>
				</div>

			</div>
		</div>

	</template>

	<script>
		Polymer({

			// POLYMER
			eventDelegates:{
				'item-selected':'onItemSelected',
				'shelf-selected':'onShelfSelected',
				'model-selected':'onModelSelected',
				'agency-selected':'onAgencySelected'
			},

			created:function(){
				this.navModes = ['browse', 'saved'];
				this.navMode = this.navModes[this.navModeId];
				this.propsModes = ['properties'];
				this.propsMode = this.propsModes[this.propsModeId];

				app.currentState = {};

				this.currentObjectType = '';
				this.currentObject = {};
				this.current = {};
				this.initModel();
			},




			// TABS MANAGEMENT
			navModeId:0,
			propsModeId:0,

			navSelectTab:function(event, detail, sender){
				this.navMode = $(sender).attr('x-unit');
				this.navModeId = this.navModes.indexOf(this.navMode);
			},

			propsSelectTab:function(event, detail, sender){
				this.propsMode = $(sender).attr('x-unit');
				this.propsModeId = this.propsModes.indexOf(this.propsMode);
			},




			// ON SELECTED
			onAgencySelected:function(event, data){
				this.currentObjectType = 'agency';
				this.currentObject = this.current.agency = data;
				app.currentState.agency = data;
			},

			onModelSelected:function(event, data){
				if (!this.current.model || this.current.model.id != data.id){
					this.initModel(data);
					app.connection.get('default_item', {model:data.id}, this.selectDefault.bind(this))
				}

				this.currentObjectType = 'model';
				this.currentObject = this.current.model = data;
				app.currentState.model = data;
			},

			onShelfSelected:function(event, data){
				this.currentObjectType = 'shelf';
				this.currentObject = this.current.shelf = data;
				app.currentState.shelf = data;
			},

			onItemSelected:function(event, data){
				app.currentState.item = data;

				app.connection.get('item', {id:data.id}, this.parseItem.bind(this))
			},

			parseItem:function(data){

				_.each(data.instances, function(instance, i){
					instance.layers = [];

					_.each(data.layers, function(layer, l){

						var processedLayer = layer;
						processedLayer.file = instance.file + '.' + (+layer.id).toString(16) + '.png';
						instance.layers.push(processedLayer)
					}, this)
				}, this);

				this.pushItem(data);
			},



			//PROPS
			dollCanvasSize:1000,



			//MAIN CODE
			initModel:function(data){
				this.layers = [];
				this.items = {};

				if (typeof data != 'undefined'){
					this.dollCanvasSize = +data.size;
				}
			},

			selectDefault:function(data){
				if (data.id){
					this.onItemSelected(null, data)
				}
			},

			pushItem:function(data, instanceId){
				if (typeof instanceId == 'undefined') { instanceId = 0; }

				this.items[data.item.shelf_id] = data.instances[instanceId];

				this.createLayers();

				this.currentObjectType = 'item';
				this.currentObject = this.current.item = data;
				app.currentState.item = data;
			},

			createLayers:function(){
				var newLayers = [];

				_.each(this.items, function(instance){

					if (instance.layers){
						newLayers = newLayers.concat(instance.layers)
					}
				});

				this.layers = newLayers;
			}

		});
	</script>
</polymer-element>