<link rel="import" href="../card-base/card-base.html">

<polymer-element name="card-saved" extends="card-base" horizontal layout center>
	<template>
		{{data.agency_title}} / {{data.model_title}} / {{data.title || data.id}}
		<span flex></span>
		<paper-icon-button icon="delete" on-tap="{{delete}}"></paper-icon-button>
	</template>

	<script>
		Polymer({
			eventDelegates:{
				'tap':'loadSet'
			},

			loadSet:function(){
				this.fire('set-selected', this.data)
			},


			delete:function(event){

				event.stopPropagation()

				app.connection.write({
					action:'delete_saved',
					id: this.data.id
				}, function(){
					$(this).remove();
				}, this)
			}
		})
	</script>
</polymer-element>